version: '3'

services:
  eureka:
    image: anapsix/alpine-java:8_jdk_unlimited
    ports:
      - '8761:8761'
    working_dir: /app
    volumes:
      - ./eureka-server:/app
    command: './gradlew bootRun'
    environment:
      - GRADLE_USER_HOME=cache
      - SPRING_PROFILES_ACTIVE=dev
  api-gateway:
    image: anapsix/alpine-java:8_jdk_unlimited
    ports:
      - '8080:8080'
    working_dir: /api-gateway
    volumes:
      - ./api-gateway:/api-gateway
    depends_on:
      - eureka
    command: './gradlew bootRun'
    environment:
      - GRADLE_USER_HOME=cache
      - SPRING_PROFILES_ACTIVE=dev
  postgresdev:
    image: postgres
    ports:
     - "5432:5432"
    environment:
     - POSTGRES_PASSWORD=password
     - POSTGRES_USER=postgres
     - POSTGRES_DB=pgdev
  users-api:
    image: anapsix/alpine-java:8_jdk_unlimited
    ports:
      - '8081:8081'
    working_dir: /users-api
    volumes:
      - ./users-api:/users-api
    depends_on:
      - eureka
      - postgresdev
    command: './gradlew bootRun'
    environment:
      - GRADLE_USER_HOME=cache
      - SPRING_PROFILES_ACTIVE=dev
  projects-api:
    image: anapsix/alpine-java:8_jdk_unlimited
    ports:
      - '8082:8082'
    working_dir: /projects-api
    volumes:
      - ./projects-api:/projects-api
    depends_on:
      - eureka
      - postgresdev
    command: './gradlew bootRun'
    environment:
      - GRADLE_USER_HOME=cache
      - SPRING_PROFILES_ACTIVE=dev
  reactdev:
    image: node
    ports:
      - '3000:3000'
    working_dir: /users-ui
    volumes:
      - ./users-ui:/users-ui
    command: 'npm start'
    depends_on:
      - users-api
      - projects-api
  flyway:
    image: jimmyoak/flyway:4.0.3
    command: "wait-for-it --timeout=30 --strict postgresdev:5432 -- flyway migrate"
    volumes:
      - './flyway/conf:/flyway/conf'
      - './flyway/sql:/flyway/sql'